{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <title>Shafira Ishlah Nurulita</title>
    <style> 
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
            <a class="navbar-brand" href="#" style="background-color: white;" ></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="background-color: black;">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item active">
                    <a style="color:white; font-size: 25px" class="nav-link" href="/">Status </a>
                </li>
                <li class="nav-item">
                    <a style="color:white; font-size: 25px" class="nav-link" href="{% url 'home' %}">Profile</a>
                </li>
            </ul>
        </div>
    </nav>
<div class="container">
    <div class="row">
        <!-- Judul -->
        <div class="col-md-2">
            <img src="" >
            <h1 class='Judul'>HOME</h1>   
        </div>

        <!-- Untuk nama dan foto -->
        <div class="col-md-9">
            <h1 style="font-family:Courgette;font-size:70px;" class="Nama">Shafira Ishlah Nurulita</h1>
            <p class="Isian">
            <img src="https://i.imgur.com/z2XvAvx.jpg" alt="foto shais" style="width:300px;height:400px;">
            <p>Shafira Ishlah Nurulita<br>
            Jakarta, January 5th 2000<br>
            1706979474<br>
            Computer Science Student, University of Indonesia</p>
            </p>   
        </div> 
    </div>
</div>

    <div class="row2">
            <div class="column2">
                <a href="https://www.linkedin.com/in/shafira-ishlah-b34394151/">
                <img id="Sosmed" src="https://media.licdn.com/dms/image/C4D0BAQFlLFOliANaJg/company-logo_200_200/0?e=2159024400&v=beta&t=6XtTMPqhowDtrl8OtsJ89rf0DfEQWrKQf1dvkrWS-lI" alt="foto linkedIn" style="width:100">
                </a>
              </div>
            <div class="column2">
                  <a href="https://twitter.com/shafiraishlah05">
                  <img id="Sosmed" src="https://pbs.twimg.com/profile_images/1013798240683266048/zRim1x6M.jpg" alt="foto twitter" style="width:100">
                  </a>
                </div>
            <div class="column2">
                  <a href="https://www.instagram.com/shafiraishlah51/?hl=id">
                  <img id="Sosmed" src="https://lh3.googleusercontent.com/aYbdIM1abwyVSUZLDKoE0CDZGRhlkpsaPOg9tNnBktUQYsXflwknnOn2Ge1Yr7rImGk" alt="foto instagram" style="width:100" >
                  </a>
              </div>
            <div class="column2">
                <img id="Sosmed" src="https://i.imgur.com/7qQf8ip.png" alt="foto QRCode" style="width:100" >
              </div>
          </div>
</body>
</html>
            